<script>
  var originalSetTheme = window.setTheme;
  var newSetTheme = function (theme) {
    originalSetTheme(theme);

    document.documentElement.classList.remove(
      "sl-theme-light",
      "sl-theme-dark"
    );

    if (theme !== "light" && theme !== "dark") {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }

    document.documentElement.classList.add(`sl-theme-${theme}`);
  };

  window.setTheme = newSetTheme;
  window.setTheme(localStorage.getItem("color-theme"));
</script>
