{{- $cards := slice
	(partial "shortcodes/card" (dict
		"title" "International Society for Ecoacoustics"
		"image" ("/ecoacoustics_logo_6c.gif" | relURL)
		"link" "https://sites.google.com/site/ecoacousticssociety/"
	))
  	(partial "shortcodes/card" (dict
		"title" "ARDC"
    "subtitle" "The Australian Research Data Commons (ARDC) is Australia's leading research data infrastructure facility. The ARDC is enabled by the Australian Government's National Collaborative Research Infrastructure Strategy (NCRIS). URL: ardc.edu.au; Contact: contact\\@ardc.edu.au"
		"image" ("/images/ARDClogoRGB.png" | relURL)
		"link" "https://ardc.edu.au"
	))
	(partial "shortcodes/card" (dict
		"title" "Frontier Labs"
		"image" ("/images/FrontierLabsLOGO2023KoalaBiocousticRecorders.png" | relURL)
		"link" "https://www.frontierlabs.com.au"
	))
	(partial "shortcodes/card" (dict
		"title" "Titley Scientific"
		"image" ("/images/Titley-Scientific-inline.png" | relURL)
		"link" "https://www.titley-scientific.com"
	))
	(partial "shortcodes/card" (dict
		"title" "Wildlife Acoustics"
		"image" ("/images/WA_Logo_Horizontal.png" | relURL)
		"link" "https://www.wildlifeacoustics.com"
	))

-}}
{{- partial "shortcodes/cards" (dict "cols" 2 "content" (delimit $cards "" | safeHTML)) -}}